* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Hind', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1120px;
}

.clearfix {
    clear: both

}

.overly {
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
}

ul {
    list-style: none;
}

header,
section.services,
section.portfolio,
section.blog,
section.news,
section.customers,
section.count,
section.ourteam,
section.ourskills,
section.ourteamTwo,
section.mapgoogle,
footer {
  min-width: 1366px;
}

/*===============================
         Start Style Header
=================================*/
header {
    background: url("../img/bgheader.jpg") no-repeat;
    height: 700px;
    -webkit-background-size: c;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header div.overly {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

header div.overly div.container nav div.logo {
    float: left;
}


header div.overly div.container nav {
    padding: 40px 0 0 0;
}

header div.overly div.container nav div.logo h3 {
    display: inline-block;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
    padding: 7px 0 0 10px;
    float: left;
}

header span.fl {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #03a9f4;
    text-align: center;
    border-radius: 2px;
    line-height: 32px;
    font-size: 1em;
    color: #fff;
    float: left;
}

header div.overly div.container nav ul {
    float: right;
    margin-top: 2px;
}

header div.overly div.container nav ul li {
    float: left;
    text-align: center;
}

header div.overly div.container nav ul li:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #03a9f4;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -0-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

header div.overly div.container nav ul li:after {
    width: 100%;
}

header div.overly div.container nav ul li a {
    display: inline-block;
    padding: 7px 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 5px;
    transition: 0.2s;
}

header div.overly div.container nav ul li a:hover {
  transform: scale(1.05);
}

header div.overly div.container nav ul li:last-of-type {
    box-shadow: -10px 0 0 -9px rgba(225, 225, 225, .4);
}

header div.overly div.container div.intro {
    width: 850px;
    margin: 160 auto;
    color: #fff;
    text-align: center;
    margin-top: 200px;
    margin-left: 130px;
}

header div.overly div.container div.intro h4 {
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 35px;
}

header div.overly div.container div.intro h4 span {
    font-weight: bold;
}

header div.overly div.container div.intro h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 35px;
}

header div.overly div.container div.intro p {
    font-size: 1em;
    line-height: 2.5em;
    margin-bottom: 50px;
}

header div.overly div.container div.intro button {
    border: none;
    padding: 15px 37px;
    background: #03a9f4;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transform: 0.2s;
}

header div.overly div.container div.intro button:hover {
  transform: scale(1.05);
}

header div.overly div.container div.indicator {
    width: 80px;
    height: 20px;
    margin: 0 auto;
    margin-top: 55px;
}

header div.overly div.container div.indicator a {
    width: 12px;
    height: 12px;
    background: #ccc;
    display: block;
    float: left;
    margin-right: 8px;
    border-radius: 1px;
    transition: 0.2s;
}

header div.overly div.container div.indicator a:hover {
  background-color: #ff9800;
}

header div.overly div.container div.indicator a.bl1:hover {
  background-color: #03a9f4;
}

header div.overly div.container div.indicator a.bl2:hover{
  background-color: red;
}

header div.overly div.container div.indicator a.bl3:hover {
  background: yellow;
}

header div.overly div.container div.indicator a.selected {
    background: #03a9f4;
}
/*===============================
         End Style Header
=================================*/

/*===============================
         Start Style Services
=================================*/

section.services div.boxservices {
  display: block;
  height: 320px;
  width: 25%;
  float: left;
  text-align: center;
  overflow: hidden;
  margin-bottom: 100px
}

section.services div.boxservices div {
  width: 280px;
  margin: 0 auto;
  padding: 30px 0 0 0;
}

section.services div.boxservices:nth-child(odd) {
  background: #f0fafe;
}

section.services div.boxservices span {
  width: 60px;
  height: 60px;
  background: #03a9f4;
  color: #fff;
  display: inline-block;
  font-size: 2.2em;
  line-height: 1.9em;
  margin-bottom: 20px;
  margin-top: 20px
}

section.services div.boxservices div h3{
  color: #1f1f1f;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

section.services div.boxservices div p {
  font-size: .9em;
  color: #cdcdcd;
  margin-bottom: 20px;
}

section.services div.boxservices div a {
  text-decoration: none;
  color: #03a9f4;
  transition: 0.2s;
  font-weight: bold;
  font-size: .8em;
}

section.services div.boxservices div a:hover {
  color: #FFC400;
}

/*===============================
         End Style Services
=================================*/

/*===============================
         Start Style Portfolio
=================================*/

section.portfolio {
  text-align: center;
  padding: 60px 0 0 0;
}

section.portfolio h2 {
  font-size: 3em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

section.portfolio p {
  width: 800px;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 500;
  color: #cdcdcd;
  padding-bottom: 30px
}

section.portfolio div.menuphoto ul {
  width: 480px;
  margin: 0 auto;
}

section.portfolio div.menuphoto ul li {
  float: left;
}

section.portfolio div.menuphoto ul li a {
  font-weight: bold;
  margin-right: 15px;
  text-decoration: none;
  color: #03a9f4;
  transition: 0.2s
}

section.portfolio div.menuphoto ul li a:hover {
  color: black;
}

section.portfolio div.gallery img {
  display: block;
  float: left;
  width: 25%;
  height: 315px;
  margin-top: 10px;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 25px;
}

section.portfolio div.gallery a {
  font-size: .8em;
  color: #03a9f4;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 50px;
  display: block;
}
/*===============================
         End Style Portfolio
=================================*/

/*===============================
         Start Style Blog
=================================*/
section.blog {
  background: url("../img/bgblog.jpg") no-repeat 0px -129px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  text-align: center;
}

section.blog div.overly {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

section.blog div.overly div.container div p {
  font-size: 1.2em;
  color: #fff;
  padding-bottom: 20px;
  padding-top: 80px;
}

section.blog div.overly div.container div {
  padding: 110 0 0 0;
}
section.blog div.overly div.container div button {
  cursor: pointer;
  background: #03a9f4;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  border: none;
  padding: 15px 37px;
  transition: 0.2s;
}

section.blog div.overly div.container div button:hover {
  transform: scale(1.05);
}
/*===============================
        End Style Blog
=================================*/

/*===============================
        Start Style News
=================================*/

section.news {
  text-align: center;
  padding: 70px 0 0 0;
  height: 550px;
  margin-bottom: 20px;
}

section.news h2 {
  font-size: 3em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

section.news > p {
  width: 800px;
  margin: 20px auto;
  color: #cdcdcd;
  line-height: 2em;
}

section.news div.container div {
  width: 30%;
  float: left;
  height: 230px;
  margin-right: 37px;
}

section.news div.container div:last-child {
  margin-right: 0;
}

section.news div.container div img {
  width: 100%;
  height: 230px;
}

section.news div.container div span {
  color: #cccccc;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

section.news div.container div p {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.7em;
  color: #03a9f4
}

section.news div.container div a {
  text-decoration: none;
  color: #03a9f4;
  transition: 0.2s;
}

section.news div.container div a:hover {
  color: #ff9800;
}
/*===============================
        End Style News
=================================*/

/*===============================
        Start Style Our Team
=================================*/

section.ourteam {
  text-align: center;
  padding: 50px 0 0 0;
  overflow: hidden;
  background: #f0fafe;
  margin-bottom: 20px
}

section.ourteam h2 {
  font-size: 3em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

section.ourteam > p {
  width: 800px;
  margin: 20px auto;
  color: #cdcdcd;
  line-height: 2em;
}

section.ourteam div.container div {
  width: 22%;
  float: left;
  margin-right: 33px;
  margin-bottom: 20px
}

section.ourteam div.container div:last-child {
  margin-right: 0;
}

section.ourteam div.container div img {
  width: 100%;
  height: 370px;
}

section.ourteam div.container div h3 {
  margin: 15px 15px 0;
}

section.ourteam div.container div span {
  color: #cdcdcd;
}

/*===============================
        End Style Our Team
=================================*/

/*===============================
        Start Style Our Skills
=================================*/

section.ourskills {
  text-align: center;
  padding: 60px 0 30 0;
  overflow: hidden;
}

section.ourskills h2 {
  font-size: 3em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

section.ourskills > p {
  width: 800px;
  margin: 20px auto;
  color: #cdcdcd;
  line-height: 2em;
}

section.ourskills div.container div.leftskills {
  float: left;
}

section.ourskills div.container div.leftskills div.technique,
section.ourskills div.container div.rightskills div.technique {
  width: 500px;
  margin-bottom: 40px;
  height: 100px;
}

section.ourskills div.container div.leftskills div.technique h3,
section.ourskills div.container div.rightskills div.technique h3 {
  text-align: left;
  text-transform: uppercase;
  float: left;
  display: inline-block;
}

section.ourskills div.container div.leftskills div.technique div:last-child,
section.ourskills div.container div.rightskills div.technique div:last-child {
  height: 22px;
  width: 500px;
  background: #b3e5fc;
  margin-top: 12px;
  border-radius: 3px;
}

section.ourskills div.container div.leftskills div.technique div span,
section.ourskills div.container div.rightskills div.technique div span {
  width: 95%;
  height: 22px;
  background: #03a9f4;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  float: left;
}

section.ourskills div.container div.leftskills div.technique h5,
section.ourskills div.container div.rightskills div.technique h5 {
  text-align: right;
  display: inline-block;
  float: right;
}

section.ourskills div.container div.rightskills {
  float: right;
}
/*===============================
        End Style Our Skills
=================================*/

/*===============================
        Start Style Count
=================================*/

section.count {
  background: #ff9800;
  height: 110px;
  padding: 70px 0 50px 0;
  margin-bottom: 30px;
}

section.count div.container div {
  width: 25%;
  float: left;
  display: block;
}

section.count div.container div > span:first-child {
  width: 60px;
  height: 60px;
  background: #fff;
  color: #ff9800;
  display: inline-block;
  font-size: 2.2em;
  line-height: 1.9em;
  border-radius: 3px;
  text-align: center;
  float: left;
  margin-right: 20px;
}

section.count div.container div h3 {
  font-size: 1.9em;
  color: #fff;
  margin-top: 10px;
  letter-spacing: 2px;
}

section.count div.container div > span:last-child {
  font-size: .7em;
  margin-top: -5px;
  margin-right: 4px;
  display: block;
  color: #fff;
  letter-spacing: 1.5px;
}

/*===============================
        End Style Count
=================================*/

/*===============================
        Start Style Our Team Two
=================================*/

section.ourteamTwo {
  text-align: center;
  padding: 60px 0 30 0;
  overflow: hidden;
  height: 600px;
}

section.ourteamTwo h2 {
  font-size: 3em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

section.ourteamTwo > p {
  width: 800px;
  margin: 20px auto;
  color: #cdcdcd;
  line-height: 2em;
  margin-bottom: 30px;
}

section.ourteamTwo div.container > div {
  width: 32%;
  float: left;
  display: block;
  background: #fff;
  margin-right: 2%;
}

section.ourteamTwo div.container > div:last-child {
  margin-right: 0;
}

section.ourteamTwo div.container div i {
  color: #03a9f4;
  font-size: 1.2em;
  margin-bottom: 40px;
}

section.ourteamTwo div.container div p {
  font-style: italic;
  margin-bottom: 30px;
}

section.ourteamTwo div.container div div.info {
  width: 170px;
  margin: 0 auto;
  text-align: left;
}
section.ourteamTwo div.container div div.info img {
  float: left;
  border-radius: 5px;
}

section.ourteamTwo div.container div div.info h3 {
  display: inline-block;
  margin-top: 17px;
  margin-left: 20px;
}

section.ourteamTwo div.container div div.info span {
  display: inline-block;
  font-size: .7em;
  color: #cdcdcd;
  margin-left: 20px;
}

/*===============================
        End Style Our Team Two
=================================*/

/*===============================
        Start Style Customers
=================================*/

section.customers {
  background: red;
  height: 400px;
  text-align: center;
  background: url("../img/bgcustomers.jpg") no-repeat 0px 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.customers h2 {
  padding: 70px 0 0 0;
  color: #fff;
  font-size: 3em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

section.customers p {
  width: 800px;
  margin: 20px auto;
  color: #cdcdcd;
  line-height: 2em;
  color: #c7c7c6;
}

section.customers img {
  margin-top: 30px;
}

/*===============================
        End Style Customers
=================================*/

/*===============================
        Start Style Under Customers
=================================*/

section.undercus {
  background: #212121;
  height: 400px;
  height: 500px;
}

section.undercus span {
  color: #5b5b5b;
}

section.undercus a {
  color: #0b8fcd;
  text-decoration: none;
  transition: 0.2s;
}

section.undercus a:hover {
  color: #d68107;
}

section.undercus div.underleft {
  display: block;
  float: left;
  width: 31%;
  margin-top: 40px;
}

section.undercus div.underleft h2,
section.undercus div.undercenter h2,
section.undercus div.underright h2 {
  color: #fff;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

section.undercus div.underleft p {
  color: #fff;
  font-style: italic;
  margin-bottom: 30px;
  line-height: 1.7em;
}

section.undercus div.underright p {
  color: #fff;
  font-style: italic;
}

section.undercus div.undercenter {
  display: block;
  float: left;
  width: 31%;
  margin-top: 40px;
  margin-left: 60px
}

section.undercus div.undercenter p {
  color: #fff;
  font-style: italic;
}

section.undercus div.underright {
  display: block;
  float: left;
  width: 28%;
  margin-top: 40px;
  margin-left: 52px
}

section.undercus div.container div.underright img {
  height: 60px;
  width: 60px;
  float: left;
  border-radius: 3px;
}

/*===============================
        End Undrer Customers
=================================*/

/*===============================
        Start Style Google Map
=================================*/

section.mapgoogle {
  height: 400px;
}

/*===============================
        End Style Google Map
=================================*/

/*===============================
        Start Style Footer
=================================*/

footer {
  background: #212121;
  padding: 30px 0 50px 0;
  text-align: center;
}

footer div.menubottom {
  float: right
}

footer div.menubottom ul li {
  display: inline-block;
}

footer div.menubottom ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: .9em;
  color: #FFF;
  margin-right: 10px;
  text-transform: uppercase;
}

footer div.copyRights {
  float: left;
  color: #fff;
}


footer div.copyRights a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

footer div.copyRights a:hover {
  color: #ff9800;
}

footer div.contacts {
  color: #fff;
  font-size: 13px;
  margin-top:
}

footer div.contacts span i {
  height: 30px;
  width: 20px;
}

footer div.contacts span a {
  color: #fff;
}
/*===============================
        End Style Footer
=================================*/
